<h1>Log In</h1>
<%= form_tag(sessions_path) do %>
    <%= text_field_tag :email, '', :class => "", :placeholder => "Email"%>
    <%= password_field_tag :password, '', :class => "", :placeholder => "Password"%>
    <%= submit_tag %>
<% end%>

<p><%= link_to "Github Login", "/auth/github" %></p>