<%= content_tag(:div, movie, class: "movie-post") do %>
    <h1> <%= link_to movie.title, movie %> </h1> 
    <h4> <%= link_to image_tag(movie.image_url), movie %> </h4>
    <%= my_movies_button(movie) %>     
    <h3><strong>Rated </strong> <%= movie.rating %></h3>
    <h3><strong><%= movie.genres.gsub(/[^0-9a-z ]/i, '') %></strong></h3>


    <!--comment section-->
    <% movie.comments.each do |comment| %>
        <div class="comment">
            <%= image_tag comment.user.pic_url, :class => "prof_pic", :alt => "Profile Pic" %>
            <%= delete_button(movie, comment) %> <!-- delete button -->
            <%= edit_link(movie, comment) %> <!--edit button -->
            <h6><%= comment.user.name %> writes:</h6> <p><%= comment.content %></p>
            <h6><%= comment.updated_at.strftime("%a, %b %d %Y %I:%M%p") %></h6>
        </div>
    <% end %>
    <%= form_with(model: [movie, @comment], local: true) do |f| %> <!-- comment form -->
        <%= f.text_field :content, :placeholder =>"Add Comment", :class => "comment" %>
        <%= f.submit :style => "display: none" %> 
    <% end %>
<% end %>