<img src="<%= @user.pic_url %>" alt="profile pic" style="width:100px;height:100px;"> <!-- refactor -->
<h1>Welcome, <%= @user.name %>!</h1>
<p><%= @user.email %></p>
<%= link_to 'Back', root_path %>
<%= render :collection => @movies, :partial => "movies/movies_li", :as => :movie %>