<h1>Sign Up!</h1>
<%= form_for(@user) do |f| %>

    <p>
        <%= f.label :pic_url %>
        <%= f.text_field :pic_url, :placeholder => "Profile Pic URL"  %>
    </p>

    <p>
        <%= f.label :name %>
        <%= f.text_field :name, :placeholder => "What's your name?"%>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.text_field :email, :placeholder => "What's your email"%>
    </p>

    <p>
        <%= f.label :password %>
        <%= f.password_field :password, :placeholder =>"Create a password"%>
    </p>

    <%= f.submit %>
    
<% end%>
