<h1>Sign Up!</h1>
<%= form_for(@user) do |f| %>
    <%= f.text_field :pic_url, :placeholder => "Profile Pic URL"  %>
    <%= f.text_field :name, :placeholder => "What's your name?"%><br>
    <%= f.text_field :email, :placeholder => "What's your email"%><br>
    <%= f.password_field :password, :placeholder =>"Create a password"%><br>
    <%= f.submit %>
<% end%>
