<h6><a href="/users/<%= @user.id %>/edit">Edit Profile</a></h6>
<% if !@user.pic_url %>
  <img src="https://image.freepik.com/free-photo/black-shade-anatomy-blue-wireframe-face-front-view-dark-background_48049-5.jpg" alt="Generic Profile Pic" style="width:100px;height:100px;">
<% else %>
  <img src="<%= @user.pic_url %>" alt="profile pic" style="width:100px;height:100px;">
<% end %>
<h1>Welcome, <%= @user.name %>!</h1>
<p><%= @user.email %></p>

  <% @movies.each do |movie| %>
    <div class="movie-post">
    <h4 style="display:inline"><a href="/movies/<%= movie.id %>"><img src="<%= movie.image_url %>" alt="<%= movie.title %>" ></a></h4>
    <h2 style="display:inline;float:right"><a href="/movies/<%= movie.id %>"><%= movie.title %></a></h2><br><br>
    <% movie.comments.each do |comment| %>
      <div class="comment">
      <%= image_tag("#{comment.user.pic_url}", :class => "prof_pic") %>
      <h6><%= comment.user.name %> writes:</h6> <p><%= comment.content %></p><h6><%= comment.updated_at.strftime("%a, %b %d %Y %I:%M%p") %></h6>
      <%= button_to "delete", movie_comment_path(movie, comment), :method => :delete if comment.user.id == current_user.id %>
      </div>
    <% end %>
    <%= form_with(model: [movie, @comment], local: true) do |f| %>
      <%= f.text_field :content %>
      <%= f.submit %>
    <% end %>
    <!-- add form to add comments -->
    <!-- <h6><%= (movie.updated_at + Time.zone_offset('EST')).strftime("%a, %b %d %Y %I:%M%p") %></h6> -->
    <br><br>
    </div>
  <% end %>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>