<!DOCTYPE html>
<html>
  <head>
    <title>KeepflixRailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <h1><a href="/">KeepFlix</a></h1>
      <h2>Your Personal Movie Library</h2>

        <% flash.each do |type, msg| %>
          <div>
            <%= msg %>
          </div>
        <% end %>

        <%= yield %>

        <div class="sidebar">
          <h3>Shortcuts</h3>
           <ul>
            <% if current_user %>
              <%= link_to "Profile", user_path(current_user) %>
              <%= link_to "My Movies", movies_path %>
              <%= link_to "Log Out", logout_path %>
            <%  else %>
              <%= link_to "Sign Up", new_user_path %>
              <%= link_to "Login", login_path %>
            <% end %> 
          </ul> 
        </div>
      <footer class="branding">
        <small>&copy; 2020 <strong>KeepFlix</strong></small>
      </footer>
    </div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
